
@model BookDetailsDto

@{ 
    ViewData["Title"] = "Details";

    string authors = String.Join(
        separator: ", ",
        values: Model.Authors
            .Select(a => $"{a.LastName} {a.FirstName}"));

    string tags = string.Join(
        separator: ", ",
        values: Model.Tags);

    string imagesPath = @"/uploads/images";
}

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img class="img-fluid" src="@($"{imagesPath}/{Model.ImageUrl}")">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd>
            @authors
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @tags
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <br />
    <div class="text-center">
        <a asp-action="Index"
           asp-controller="Home"
           class="btn btn-secondary"
           >back to catalog</a>
    </div>
</div>