
@using ServiceLayer.CartServices
@using ServiceLayer.OrderServices

@model PlaceOrderDto

@{ 
    const string formId = "form_submit";
}

<h2>Check out</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<div class="row">
    <div class="col-md-8">
        <hr />
        <h4>Details</h4>
        <form id="@formId" method="post" asp-action="PlaceOrder" asp-controller="Order">
            <div class="form-group">
                <label asp-for="Firstname"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h4>Items</h4>
        <table class="table">
            <tr>
                <th>title</th>
                <th>price</th>
                <th>quantity</th>
                <th>subtotal</th>
            </tr>
            @{ 
                int i = 0;
                decimal total = 0.0M;
            }
            @foreach (var line in Model.Lines ?? Enumerable.Empty<PlaceOrderLineItemDto>())
            {
                decimal subtotal = line.Price * line.Quantity;
                string lineProperty = $"Lines[{i}]";
                string bookIdProperty = $"{lineProperty}.BookId";
                string bookPriceProperty = $"{lineProperty}.Price";
                string quantityProperty = $"{lineProperty}.Quantity";
                <tr>
                    <td>
                        @line.Title
                        <input form="@formId" name="@bookIdProperty" value="@line.BookId" hidden />
                        <input form="@formId" name="@bookPriceProperty" value="@line.Price" hidden />
                        <input form="@formId" name="@quantityProperty" value="@line.Quantity" hidden />
                    </td>
                    <td>@line.Price</td>
                    <td>@line.Quantity</td>
                    <td>@subtotal</td>
                </tr>
                total += subtotal;
                i++;
            }
            <tfoot>
                <tr>
                    <th colspan="3">total price</th>
                    <th>@total</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="text-center">
    <button form="form_submit"
            type="submit"
            class="btn btn-primary">
        Place order
    </button>
    <a asp-action="Index"
       asp-controller="Cart"
       class="btn btn-secondary">
        cancel
    </a>
</div>
