
@using BookApp.BLL.Services.Orders
@model DisplayOrderDetailsDto

<h2>Order Details</h2>
<hr />
<br />
<dl class="dl-horizontal">
    <dt>
        Order Number
    </dt>
    <dd>
        @Model.OrderId
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.DateOrderedUtc)
    </dt>
    <dd>
        @(Model.DateOrderedUtc.ToString(format: "dd.MM.yyyy"))
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Status)
    </dd>
</dl>
<br />
<h4>Items</h4>
<table class="table">
    <tr>
        <th>title</th>
        <th>price</th>
        <th>quantity</th>
        <th>subtotal</th>
    </tr>
    @{ 
        decimal total = 0.0M;
    }
    @foreach (var line in Model.Lines ?? Enumerable.Empty<DisplayOrderDetailsLineItemDto>())
    {
        decimal subtotal = line.BookPrice * line.Quantity;
        <tr>
            <td>@line.BookTItle</td>
            <td>@($"${line.BookPrice:F}")</td>
            <td>@line.Quantity</td>
            <td>@($"${subtotal:F}")</td>
        </tr>
        total += subtotal;
    }
    <tr>
        <th colspan="3">total</th>
        <th>@($"${total:F}")</th>
    </tr>
</table>
<div class="text-center">
    <a asp-action="Index"
       asp-controller="Home"
       class="btn btn-secondary">Catalog</a>
    <a asp-action="List"
       asp-controller="Order"
       class="btn btn-secondary">Order List</a>
</div>