
@model BookDetailsDto

@{
    ViewData["Title"] = "Details";

    string authors = String.Join(
        separator: ", ",
        values: Model.Authors
            .Select(a => $"{a.LastName} {a.FirstName}"));

    string tags = string.Join(
        separator: ", ",
        values: Model.Tags);
}

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd>
            @authors
            <text> | </text>
            <a asp-action="EditAuthors"
               asp-controller="Home"
               asp-area="contentmanager"
               asp-route-id="@Model.BookId">
                edit
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @tags
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <br />
    <div class="text-center">
        <a asp-action="Index"
           asp-controller="Home"
           class="btn btn-secondary">back to catalog</a>
    </div>
</div>