
@using BookApp.BLL.Services.BookManage
@model BookWithTagsDto

@{ 
    ViewBag.Title = "Edit Tags";
}
<h2>Edit Tags</h2>
<br />
<h4>@Model.BookTitle</h4>
<br />
<table class="table">
    <tr>
        <th>tag</th>
        <th></th>
    </tr>
    @foreach (var tag in Model.Tags ?? Enumerable.Empty<BookWithTagsItemDto>())
    {
        <tr>
            <td>@tag.Text</td>
            <td>
                <form method="post" asp-action="RemoveTag" asp-controller="Home" asp-area="contentmanager">
                    <input name="BookId" value="@Model.BookId" hidden />
                    <input name="TagId" value="@tag.TagId" hidden />
                    <button type="submit" class="btn btn-sm btn-danger">remove</button>
                </form>
            </td>
        </tr>
    }
</table>
<hr />
<div class="text-center">
    <a asp-action="AddTag"
       asp-controller="Home"
       asp-area="contentmanager"
       asp-route-id="@Model.BookId"
       class="btn btn-primary">add</a>
    <a asp-action="Details"
       asp-controller="Home"
       asp-area="contentmanager"
       asp-route-id="@Model.BookId"
       class="btn btn-secondary">cancel</a>
</div>