
@model BookListCombinedDto

<table class="table">
    <tr>
        <th>title</th>
        <th>price</th>
    </tr>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Price</td>
            <td>
                <a asp-action="Details"
                   asp-controller="Home"
                   asp-route-id="@book.BookId"
                   asp-area="contentmanager"
                   class="btn btn-sm btn-secondary">details</a>
            </td>
        </tr>
    }
</table>
<div>
    @for (int i = 1; i <= Model.PageOptionsOut.PageCount; i++)
    {
        if (i > 1)
        {
            <text>|</text>
        }
        <a asp-action="Index"
           asp-controller="Home"
           asp-area="contentmanager"
           asp-route-page="@i"
           asp-route-pageSize="@Model.PageOptionsOut.PageSize">
            @i
        </a>
    }
</div>